*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(156, 156, 156);
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

.ig-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.ig-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.ig-mobile img{
    height: 45rem;
}

.ig-boxes-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    width: 80%;
    padding: 1.2rem 0;
    border: 1px solid lightgray;
}

.ig-continuous{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    min-height: 40rem;
}

.ig-logo img{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
}

.ig-profile img{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    border-radius: 50%;
}

.ig-login{
    padding: 6px;
    background-color: rgb(95, 149, 237);
    border-radius: 4px;
    color: white;
}
.ig-logout{
    padding: 0px;
    color: rgb(95, 149, 237);
    font-size: 12px;
    font-weight: bold;
}
.ig-not-account{
    padding: 0;
    margin: 0;
    color: rgb(156, 156, 156);
}
.blue-link{
    color: rgb(95, 149, 237);
    font-size: 12px;
    font-weight: bold;
}

.ig-boxes-group:nth-child(1){
    min-height: 24rem;
    padding: 4rem;
}

.get-app{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.download{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.apps-dw{
    height: 3rem;
    width: 10rem;
    background-size: cover;
    border-radius: 5px;
}
.apps-dw:nth-child(1){
    background-image: url('./images/ig_applestore.png');
}
.apps-dw:nth-child(2){
    background-image: url('./images/ig_googleplay.png');
}

#header{
    font-weight: bold;
}

@media (max-width:1024px){
    .ig-wrapper{
        width: 90%;
    }
}
@media (max-width:550px){
    .ig-mobile{
        display: none;
    }

    .ig-wrapper{
        width: 90%;
    }
    .ig-continuous{
        width: 100%;
    }
}
